body{
background-color: green; 

}
h1{

	text-align: center;
}
p,code,s,strike,del{
	font-size: 72px;
}
P
{
	font-size: 72;
}
em{

	color:#22F61D;
	font-size : 64px;


}
.cur1{

background-color: green: #FD7908;
font-size : 64px;

}
.cur2{
	background-color: green: #FD7908;
    font-size : 64px;
}


